@font-face {
    font-family: 'Elms Sans';
    src: url('fonts/ElmsSans-Thin.woff2') format('woff2'),
        url('fonts/ElmsSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Elms Sans', sans-serif;
}

header {
    height: 90vh;
    background: url(https://wallpapershome.com/images/pages/pic_h/12586.jpg) 
                center / cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

p {
    max-width: 60ch;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

h1 {
    font-size: clamp(2.5rem, 10vw, 12rem);
    text-shadow: 0 0 20px rgb(118, 158, 154);
}

.image-credit {
    color: rgb(146, 146, 146);
    margin: 1.5rem 0;
}

.image-credit a {
    color: inherit;
}

a:hover {
    font-weight: 1000;
}

/* Introduction */

.introduction {
    display: flex;
    padding: 20vh 10vw;
    gap: 1rem;
}

.introduction div {
    flex: 2;
}

.introduction figure {
    flex: 1;
}

figure img {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(150, 150, 161, 0.803);
}

figcaption {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.introduction h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-bottom: 1.2rem;
    color: rgb(11, 83, 147);
}